# Input Shaper config

#X
#Fitted shaper 'zv' frequency = 25.4 Hz (vibrations = 14.8%, smoothing ~= 0.239)
#To avoid too much smoothing with 'zv', suggested max_accel <= 2200 mm/sec^2
#Fitted shaper 'mzv' frequency = 23.2 Hz (vibrations = 6.3%, smoothing ~= 0.378)
#To avoid too much smoothing with 'mzv', suggested max_accel <= 1500 mm/sec^2
#Fitted shaper 'ei' frequency = 29.0 Hz (vibrations = 6.0%, smoothing ~= 0.383)
#To avoid too much smoothing with 'ei', suggested max_accel <= 1500 mm/sec^2
#Fitted shaper '2hump_ei' frequency = 39.0 Hz (vibrations = 8.1%, smoothing ~= 0.355)
#To avoid too much smoothing with '2hump_ei', suggested max_accel <= 1500 mm/sec^2
#Fitted shaper '3hump_ei' frequency = 48.0 Hz (vibrations = 8.2%, smoothing ~= 0.356)
#To avoid too much smoothing with '3hump_ei', suggested max_accel <= 1500 mm/sec^2
#Recommended shaper is mzv @ 23.2 Hz

#---

#Y
#Fitted shaper 'zv' frequency = 39.8 Hz (vibrations = 11.7%, smoothing ~= 0.101)
#To avoid too much smoothing with 'zv', suggested max_accel <= 6200 mm/sec^2
#Fitted shaper 'mzv' frequency = 33.2 Hz (vibrations = 1.5%, smoothing ~= 0.185)
#To avoid too much smoothing with 'mzv', suggested max_accel <= 3200 mm/sec^2
#Fitted shaper 'ei' frequency = 39.2 Hz (vibrations = 0.0%, smoothing ~= 0.210)
#To avoid too much smoothing with 'ei', suggested max_accel <= 2900 mm/sec^2
#Fitted shaper '2hump_ei' frequency = 48.8 Hz (vibrations = 0.0%, smoothing ~= 0.227)
#To avoid too much smoothing with '2hump_ei', suggested max_accel <= 2600 mm/sec^2
#Fitted shaper '3hump_ei' frequency = 58.4 Hz (vibrations = 0.0%, smoothing ~= 0.240)
#To avoid too much smoothing with '3hump_ei', suggested max_accel <= 2400 mm/sec^2
#Recommended shaper is ei @ 39.2 Hz

[input_shaper]
shaper_freq_x: 25.4
shaper_type_x: zv
shaper_freq_y: 39.8
shaper_type_y: zv