# █▀ █▄█ █▀▀ █░█ █▀▀ █░█
# ▄█ ░█░ █▄▄ █▀█ ██▄ ▀▄▀
# 
# Author: <Anton Sychev> (anton at sychev dot xyz) 
# .cfg (c) 2023 
# Created:  2023-08-21 02:06:08 
# Desc: Macros modifies

[gcode_macro PID_EXTRUDER]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=200

[gcode_macro PID_HEATER_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60