# █▀ █▄█ █▀▀ █░█ █▀▀ █░█
# ▄█ ░█░ █▄▄ █▀█ ██▄ ▀▄▀
# 
# Author: <Anton Sychev> (anton at sychev dot xyz) 
# STOP_PRINT.cfg (c) 2023 
# Created:  2023-08-21 02:06:08 
# Desc: Macros modifies
#----
#add in start script in prusa slicer
#...
#M104 S0 ; turn off temperature
#
#STOP_PRINT ;custom function for stop and park printer headset
#
#M107 ; turn off fan


[gcode_macro STOP_PRINT]
#rename_existing: STOP_PRINT
gcode:
  #{
  # 'homed_axes': '', 
  # 'axis_minimum': Coord(x=0.0, y=0.0, z=-6.0, e=0.0), 
  # 'axis_maximum': Coord(x=225.0, y=211.0, z=242.0, e=0.0), 
  # 'position': Coord(x=0.0, y=0.0, z=0.0, e=0.0), 
  # 'max_velocity': 500.0, 'max_accel': 4000.0, 'max_accel_to_decel': 2000.0, 'square_corner_velocity': 5.0}
 
  M117 "Stopping printing"
  
  M106 S0 ; Turn Fan Off
  M104 S0 ; turn off extruder
  M140 S0 ; turn off bed
    
  G91 ; ralative position
  {% if printer.toolhead.axis_maximum.z < printer.toolhead.position.z %}
    #G1 Z{min(printer.toolhead.axis_maximum.z, printer.toolhead.position.z + 5.0)}
    G1 Z{printer.toolhead.position.z + 2.0}
  {% endif %} ; Move print head up
  
  #G90 ; switch back to absolute mode
  #G28 Y{printer.toolhead.axis_maximum.y}
  #G28 X{printer.toolhead.axis_maximum.x}


  
  M84 ; disable motors
  M117 "JOB DONE"  
  
  