# █▀ █▄█ █▀▀ █░█ █▀▀ █░█
# ▄█ ░█░ █▄▄ █▀█ ██▄ ▀▄▀
# 
# Author: <Anton Sychev> (anton at sychev dot xyz) 
# host_display_menu.cfg (c) 2023 
# Created:  2023-07-15 02:06:08 
# Desc: macros to show button on dash and in printer menu
# Docs: https://github.com/klich3/klipper-host-ip

[menu __main __host]
type: command
name: Show Host IP in main screen
gcode: 
  PRINT_HOST_IP

[gcode_macro PRINT_HOST_IP]
gcode:
  {% set host_ip=' 0.0.0.2' %}
  M117 {host_ip}  