# █▀ █▄█ █▀▀ █░█ █▀▀ █░█
# ▄█ ░█░ █▄▄ █▀█ ██▄ ▀▄▀
# 
# Author: <Anton Sychev> (anton at sychev dot xyz) 
# .cfg (c) 2023 
# Created:  2023-08-21 02:06:08 
# Desc: Macros modifies

[gcode_macro BUZZ_X]
gcode:
  STEPPER_BUZZ STEPPER=stepper_x

[gcode_macro BUZZ_Y]
gcode:
  STEPPER_BUZZ STEPPER=stepper_y

[gcode_macro BUZZ_Z]
gcode:
  STEPPER_BUZZ STEPPER=stepper_z

[gcode_macro BUZZ_EX]
gcode:
  STEPPER_BUZZ STEPPER=extruder