# █▀ █▄█ █▀▀ █░█ █▀▀ █░█
# ▄█ ░█░ █▄▄ █▀█ ██▄ ▀▄▀
# 
# Author: <Anton Sychev> (anton at sychev dot xyz) 
# .cfg (c) 2023 
# Created:  2023-08-21 02:06:08 
# Desc: Macros modifies

[gcode_macro LOAD_MESH_PROFILE]
gcode: 
  BED_MESH_PROFILE LOAD=default METHOD=automatic