# █▀ █▄█ █▀▀ █░█ █▀▀ █░█
# ▄█ ░█░ █▄▄ █▀█ ██▄ ▀▄▀
# 
# Author: <Anton Sychev> (anton at sychev dot xyz) 
# .cfg (c) 2023 
# Created:  2023-08-21 02:06:08 
# Desc: Macros modifies

[gcode_macro Z_PROBE]
gcode:
  G28
  G117 "Prepare paper to set correct z-offset"
  MANUAL_PROBE
  G117 "Use next command Save Z PROBE"